<div id="carousel" class="carousel">
    <ul>
        <li class="slide">
            <img src="img/tees.jpg" alt="Loose tea leaves on golden spoons in close-up." class="slide-img" />
            <h2>Hot loose teas</h2>
            <p>
                This is just a boring marketing text in the tea-themed carousel. A boring marketing text in the tea-themed carousel.                <a href="#">Visit the tea section</a>
            </p>
        </li>
        <li class="slide" >
            <img src="img/podcast.jpg" alt="An enthusiastic woman with headphones." class="slide-img" />
            <h2>New podcast headphones have arrived!</h2>
            <p>
                This is just a boring marketing text in the carousel on the subject of headphones. A boring marketing text in the carousel on the subject of headphones.
                <a href="#">Visit the headphone section</a>
            </p>
        </li>
        <li class="slide" >
            <img src="img/weed.jpg" alt="Socks with marijuana plant print shapes in red, green and yellow." class="slide-img" />
            <h2>Socks for “hemp-ions“</h2>
            <p>This is just a boring marketing text in the carousel on the subject of socks. A boring marketing text in the carousel on the subject of socks.
                <a href="#">Visit the socks section</a>
            </p>
        </li>
    </ul>
</div>

