<dialog id="cookie-modal" aria-labelledby="cookie-modal-title" class="dialog dialog--cookie">
  <div class="dialog__content">

    <h1 id="cookie-modal-title" class="dialog__title">We use Cookies <span aria-hidden="true">🍪</span></h1>

    <p class="dialog__text">Here is a legally sophisticated text that no one reads. Instead, the dialogue is quickly clicked away.</p>


    <form method="dialog" class="dialog__button-row">
      <button class="button">I accept</button>
      <button class="button">I do not accept</button>
    </form>
  </div>
</dialog>
