<ecbf-combobox-search role="search" starts-open="false">
  <input
    class="search__input field__input"
    type="search"
    name="q"
    value=""
    placeholder="Search"
    role="combobox"
    aria-expanded="false"
    aria-owns="ecbf-combobox-listbox"
    aria-controls="ecbf-combobox-listbox"
    aria-haspopup="listbox"
    aria-autocomplete="list"
    autocorrect="off"
    autocomplete="off"
    autocapitalize="off"
    spellcheck="false">
  <button type="submit" id="cb1-button" aria-label="Suchen">
    <svg aria-hidden="true" class="icon icon-search" viewBox="0 0 37 40">
      <path
        d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"></path>
    </svg>
  </button>
  <div id="ecbf-combobox-listbox" role="listbox" class="combobox-list">
    <div id="ecbf-combobox-search-results-groups-wrapper">
      <div class="ecbf-combobox-search-results-group-section ecbf-combobox-search-results-group-section--products">
        <h3 id="products-headline">Products</h3>
        <ul role="group" data-products-list aria-labelledby="products-headline">
          <li id="option-1" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Digtal watch No. 1</a>
            <span class="price">€ 9.99</span>
          </li>
          <li id="option-2" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Fancy watch No. 1</a>
            <span class="price">€ 129.99</span>
          </li>
          <li id="option-3" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Unisex watch No. 1</a>
            <span class="price">€ 79.99</span>
          </li>
          <li id="option-4" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Smartwatch No. 1</a>
            <span class="price">€ 79.99</span>
          </li>
          <li id="option-5" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Watch band: Fancy watch No. 1</a>
            <span class="price">€ 69.99</span>
          </li>
          <li id="option-6" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Watch band: Unisex watch No. 1</a>
            <span class="price">€ 49.99</span>
          </li>
          <li id="option-7" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Watch band: Smart Watch No. 1</a>
            <span class="price">€ 49.99</span>
          </li>
          <li id="option-8" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Red soap</a>
            <span class="price">€ 4.99</span>
          </li>
          <li id="option-9" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Yellow soap</a>
            <span class="price">€ 4.99</span>
          </li>
          <li id="option-10" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Blue soap</a>
            <span class="price">€ 4.99</span>
          </li>
          <li id="option-11" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">White soap</a>
            <span class="price">€ 4.99</span>
          </li>
          <li id="option-12" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Grey soap</a>
            <span class="price">€ 4,99</span>
          </li>
          <li id="option-13" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Olive soap</a>
            <span class="price">€ 4.99</span>
          </li>
          <li id="option-14" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Ice Coffee Glass No. 1</a>
            <span class="price">€ 2.99</span>
          </li>
          <li id="option-15" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Latte Macchiato Glas No. 1</a>
            <span class="price">€ 2.99</span>
          </li>
          <li id="option-16" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Cup with text No. 1 </a>
            <span class="price">€ 1.99</span>
          </li>
          <li id="option-17" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Classic cup No. 1</a>
            <span class="price">€ 1.99</span>
          </li>
          <li id="option-18" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Brand Carafe No. 1</a>
            <span class="price">€ 51.99</span>
          </li>
          <li id="option-19" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Simple Carafe No. 1</a>
            <span class="price">€ 49.99</span>
          </li>
          <li id="option-20" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Coffeshop model No. 1</a>
            <span class="price">€ 89.99</span>
          </li>
          <li id="option-21" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Green tea No. 1</a>
            <span class="price">€ 1.99</span>
          </li>
          <li id="option-22" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Black tea No. 1</a>
            <span class="price">€ 1.99</span>
          </li>
          <li id="option-23" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Fruity tea No. 1</a>
            <span class="price">€ 1.99</span>
          </li>
          <li id="option-24" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Japanese Knife No. 1</a>
            <span class="price">€ 8.99</span>
          </li>
          <li id="option-25" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Sharpening stone No. 1</a>
            <span class="price">€ 18.99</span>
          </li>
          <li id="option-26" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Whiskey-Glas Nr. 1</a>
            <span class="price">€ 18.99</span>
          </li>
          <li id="option-27" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">White wine glass No. 1</a>
            <span class="price">€ 3.99</span>
          </li>
          <li id="option-28" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Red winw glass No. 1</a>
            <span class="price">€ 3.99</span>
          </li>
          <li id="option-29" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Edged plate No. 1</a>
            <span class="price">€ 2,99</span>
          </li>
          <li id="option-30" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Soup plate No. 1</a>
            <span class="price">€ 2.99</span>
          </li>
          <li id="option-31" role="option">
            <img src="https://marcus-herrmann.com/dateien/ecbf/flacon.jpg" alt="">
            <a href="product.html" tabindex="-1">Flat plate No. 1</a>
            <span class="price">€ 2.99</span>
          </li>
        </ul>
      </div>
      <div class="ecbf-combobox-search-results-group-section ecbf-combobox-search-results-group-pages">
        <h3 id="pages-headline">Pages</h3>
        <ul role="group" data-pages-list aria-labelledby="pages-headline">
          <li id="option-32" role="option">
            <a href="#0" tabindex="-1">About us</a>
          </li>
          <li id="option-33" role="option">
            <a href="#0" tabindex="-1">Privacy</a>
          </li>
          <li id="option-34" role="option">
            <a href="#0" tabindex="-1">Delivery terms</a>
          </li>
          <li id="option-35" role="option">
            <a href="#0" tabindex="-1">Suppliers</a>
          </li>
        </ul>
      </div>
      <button class="ecbf-combobox-search-results-search" tabindex="-1" role="option" id="manual-search" aria-selected="false">
        Search for <span data-ecbf-combobox-search-search-for-text></span>
        <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
          </path></svg>
      </button>
    </div>
  </div>
  <span class="hidden" data-ecbf-combobox-search-live-region-count-value></span>
  <span id="ecbf-combobox-search-status" data-ecbf-combobox-search-status class="ecbf-combobox-search-status visually-hidden" role="status" aria-hidden="true">
    </span>
</ecbf-combobox-search>
