<footer class="footer">
  <div class="footer-inner">
  <h2 class="footer__headline">Demo hint</h2>
  <p class="footer__text">This shop is used exclusively for demonstration and training purposes as part of the project  <a class="footer__link" href="https://ecommerce-accessibility.com">ecommerce-accessibility.com</a>. No orders will be accepted and no goods are delivered.</p>
    <p>Plase note: For a full understanding of this shop HTML prototype, the explanations, code examples and <code>debug</code> URL parameter from the associated course required. This dummy is not designed to stand alone.</p>
  </div>
  <include src="partials/dialog.html"></include>
  <include src="partials/filterliveregion.html"></include>

</footer>
