<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{{ title }}</title>
  <script src="https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.iife.js"></script>
  <script type="module" src="scripts.js" defer></script>
  <link rel="stylesheet" href="style.scss" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap" rel="stylesheet">

  <!-- Please ignore, this are only the access statistics of the shop demo. -->
  <include src="partials/please-ignore--statistics.html"></include>
</head>
