<!--Folgendes ist ein nur leicht angepasstes https://github.com/metageeky/mega-menu
unter https://www.mozilla.org/en-US/MPL/2.0/ -->

<nav id="main-nav" class="mega-menu page-centered-content " aria-labelledby="main-nav-heading" data-menu-state="closed" data-responsive-width="1000px">
  <h2 id="main-nav-heading" class="visually-hidden">Main</h2>
  <button class="responsive-toggle mega-menu__mobile-trigger" aria-expanded="false">

    <svg class="mega-menu__mobile-trigger-svg--hamburger" aria-hidden="true" fill="none" height="165" viewBox="0 0 297 165" width="297" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path d="m0 12.5c0-6.90356 5.59644-12.5 12.5-12.5h272c6.904 0 12.5 5.59644 12.5 12.5 0 6.9036-5.596 12.5-12.5 12.5h-272c-6.90356 0-12.5-5.5964-12.5-12.5z"/><path d="m0 82.5c0-6.9036 5.59644-12.5 12.5-12.5h272c6.904 0 12.5 5.5964 12.5 12.5s-5.596 12.5-12.5 12.5h-272c-6.90356 0-12.5-5.5964-12.5-12.5z"/><path d="m0 152.5c0-6.904 5.59644-12.5 12.5-12.5h272c6.904 0 12.5 5.596 12.5 12.5s-5.596 12.5-12.5 12.5h-272c-6.90356 0-12.5-5.596-12.5-12.5z" /></g></svg>

    <svg class="mega-menu__mobile-trigger-svg--close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="297" height="287" viewBox="0 0 297 287"  fill="none" aria-hidden="true"><defs><path id="reuse-0" fill="#fff" d="M0 0h297v287H0z"/></defs><g clip-path="url(#a)"><use xlink:href="#reuse-0"/><rect width="379.894" height="25" x="17.678" y="-.269" fill="currentColor" rx="12.5" transform="rotate(45 17.678 -.27)"/><rect width="378.58" height="25" x="296.602" y="16.678" fill="currentColor" rx="12.5" transform="rotate(135 296.602 16.678)"/></g><defs><clipPath id="a"><use xlink:href="#reuse-0"/></clipPath></defs>
    </svg>

    Menu
  </button>
  <ul class="mega-menu__sub-menu">
    <li>
      <button aria-expanded="false" class="mega-menu-toggle">
        Watches
      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul class="">
          <li class="image-column">
            <a href="">
              <img src="img/edeluhren.jpg" alt="Silver watch with steel bracelet and black rubber ring."/>
              <div>Fancy Watches</div>
            </a>
          </li>
          <li class="image-column">
            <a href="">
              <img src="img/smartwatches.jpg" alt="Apple Watch"/>
              <div>Smart Watches</div>
            </a>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Watches</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Fancy Watches</a></li>
              <li><a href="">Unisex Watches</a></li>
              <li><a href="">Smart Watches</a></li>
              <li><a href="">Fancy Watches</a></li>
              <li><a href="">Unisex Watches</a></li>
              <li><a href="">Smart Watches</a></li>
              <li><a href="">Fancy Watches</a></li>
              <li><a href="">Unisex Watches</a></li>

            </ul>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Accessories</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">For Fancy Watches</a></li>
              <li><a href="">For Unisex Watches</a></li>
              <li><a href="">For Smart Watches</a></li>
              <li><a href="">For Fancy Watches</a></li>
              <li><a href="">For Unisex Watches</a></li>
              <li><a href="">For Smart Watches</a></li>
              <li><a href="">For Fancy Watches</a></li>
              <li><a href="">For Unisex Watches</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button aria-expanded="false" class="mega-menu-toggle">
        Soap
      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="image-column">
            <a href="">
              <img src="img/naturseifen.jpg" alt="Two blocks of soap on leaves."/>
              <div>Natural soaps</div>
            </a>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Model "Fight Club"</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Red</a></li>
              <li><a href="">Yellow</a></li>
              <li><a href="">Blue</a></li>
              <li><a href="">White</a></li>
              <li><a href="">Grey</a></li>
              <li><a href="">Olive</a></li>
            </ul>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Natural soaps</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Thyme</a></li>
              <li><a href="">Dill</a></li>
              <li><a href="">Straciatella</a></li>
              <li><a href="">Vanilla</a></li>
              <li><a href="">Mint</a></li>
              <li><a href="">Thyme</a></li>
              <li><a href="">Dill</a></li>
            </ul>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Liquid soaps</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Torquoise</a></li>
              <li><a href="">White</a></li>
              <li><a href="">Light green</a></li>
              <li><a href="">Pink</a></li>
              <li><a href="">Olive</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button aria-expanded="false" class="mega-menu-toggle">
        Coffee
      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="image-column">
            <a href="">
              <img src="img/pour-over.jpg" alt="Trapezoidal coffee carafe"/>
              <div>Pour Over</div>
            </a>
          </li>
          <li class="image-column">
            <a href="">
              <img src="img/bohnen.jpg" alt="Roasted coffee beans"/>
              <div>Beans</div>
            </a>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Glasses and cups</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Iced coffee glasses</a></li>
              <li><a href="">Latte Macchiato glasses</a></li>
              <li><a href="">Branded glasses</a></li>
              <li><a href="">Classic glasses</a></li>
              <li><a href="">Iced coffee glasses</a></li>
              <li><a href="">Latte Macchiato glasses</a></li>
              <li><a href="">Branded glasses</a></li>
            </ul>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Pour Over decanters</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Branded decanters</a></li>
              <li><a href="">Simple forms</a></li>
              <li><a href="">Coffeshop editons</a></li>
              <li><a href="">Cylinders</a></li>
              <li><a href="">Branded decanters</a></li>
              <li><a href="">Simple forms</a></li>
              <li><a href="">Coffeshop editons</a></li>
              <li><a href="">Cylinders</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button aria-expanded="false" class="mega-menu-toggle">
        Tea
      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="image-column">
            <a href="">
              <img src="img/loser-tee.jpg" alt="Loose tea in close-up"/>
              <div>Loose teas</div>
            </a>
          </li>
          <li class="image-column">
            <a href="">
              <img src="img/tee-behälter.jpg" alt="Ceramic teapot with Japanese characters"/>
              <div>Container</div>
            </a>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Loose teas</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Green teas</a></li>
              <li><a href="">Black teas</a></li>
              <li><a href="">Fruity teas</a></li>
              <li><a href="">Herbal teas</a></li>
              <li><a href="">Green teas</a></li>
              <li><a href="">Black teas</a></li>
              <li><a href="">Fruity teas</a></li>
            </ul>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Tea bags</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Green teas</a></li>
              <li><a href="">Black teas</a></li>
              <li><a href="">Fruity teas</a></li>
              <li><a href="">Herbal teas</a></li>
              <li><a href="">Green teas</a></li>
              <li><a href="">Black teas</a></li>
              <li><a href="">Fruity teas</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button aria-expanded="false" class="mega-menu-toggle">
        Kitchen
      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="text-column">
            <h2 class="mega-sub-heading">Knives</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Japanese</a></li>
              <li><a href="">Classic</a></li>
              <li><a href="">Fruit windes</a></li>
              <li><a href="">Sharpening stones</a></li>
              <li><a href="">Japanese</a></li>
            </ul>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Glasses</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">White wine</a></li>
              <li><a href="">Red wine</a></li>
              <li><a href="">Cocktail</a></li>
              <li><a href="">Whiskey</a></li>
            </ul>
          </li>
          <li class="text-column double">
            <h2 class="mega-sub-heading">Plates</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Soup plates</a></li>
              <li><a href="">Flat plates</a></li>
              <li><a href="">Edged plates</a></li>
              <li><a href="">Soup plates</a></li>
              <li><a href="">Flat plates</a></li>
              <li><a href="">Edged plates</a></li>
              <li><a href="">Soup plates</a></li>
              <li><a href="">Flat plates</a></li>
              <li><a href="">Edged plates</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

