<img class="product__image" src="./img/blaues-t-shirt.jpg" alt="Grau-blaues Baumwoll-T-Shirt auf einem Kleiderbügel.">
<button id="trigger-big-image-dialog" class="product__trigger-big-image-dialog"><span class="visually-hidden">Enlarge image</span></button>

<dialog id="big-image" class="dialog dialog--big-image">
  <form method="dialog">
    <button class="button" aria-label="Close dialog">
      ×
    </button>
  </form>
  <img src="./img/blaues-t-shirt__gross.jpg" alt="Grey-blue cotton T-shirt on a coat hanger, large image.">

</dialog>
