<a href="#product-list" class="skiplink">To Product list</a>
<div class="product-list__options">

    <label class="product-list__label" for="sort">Sort by:</label>
    <select class="product-list__select" id="sort" name="sort" @change="changeSort">
      <option value="" checked></option>
      <option value="name-desc">Alphabet, Z - A</option>
      <option value="name-asc">Alphabet, A - Z</option>
      <option value="price-asc">Price, lowest first</option>
      <option value="price-desc">Price, highest first</option>
    </select>

</div>



