ecbf-combobox-search {
  position: relative;

  @media (screen and width < 600) {
    display: flex;
    width: 100%;
  }

  .group.focus polygon,
  .group:hover polygon {
    fill-opacity: 1;
  }

  a {
    text-decoration: none;
    color: var(--brand-blue);
  }

  button {
    border-top-right-radius: var(--combobox-border-radius);
    border-bottom-right-radius: var(--combobox-border-radius);
    padding: 0 .75rem;
    margin-inline-start: -.25rem;
    border-left: none;
    outline: none;
    color: rgb(0 90 156);
  }

  input {
    min-width: var(--combobox-input-width-min);
    max-width: var(--combobox-input-width-max);
    width: auto;
    border-right: none;
    outline: none;
    font-size: inherit;
    border-radius: var(--combobox-border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: .75rem;
    border-right: none;

    &[aria-expanded="true"] + button + .combobox-list {
      display: block;
    }

    @media (max-width: 65em) {
      min-width: var(--combobox-input-width-min-medium);
      width: calc(100% - 3.5rem);
    }

    @media (max-width: 40em) {
      min-width: 0;
      width: calc(100vw - 3.5rem);
    }

    ul[data-pages-list] li {
      margin-block-end: .5rem;
    }

    ul[data-products-list] li {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-block-end: 1em;
      margin-inline-end: .75rem;
      gap: .5em;

      img {
        flex: 0;
        width: 50px;
      }

      a {
        font-weight: bold;
        justify-content: start;
        flex: 1;
      }

      .price {
        justify-content: end;
      }
    }

    &::placeholder {
      color: #000;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #000;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: #000;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #000;
    }

    &[aria-expanded="true"] ~ .combobox-list {
      display: block;
    }
  }

  input,
  button {
    font: inherit;
    background-color: white;
    color: black;
    box-sizing: border-box;
    height: var(--combobox-input-height);
    margin: 0;
    vertical-align: bottom;
    border: 1px solid gray;
    position: relative;
    cursor: pointer;
  }

  .group {
    display: inline-flex;
    cursor: pointer;

    &.focus polygon,
    &:hover polygon {
      fill-opacity: 1;
    }
  }

  button[type="submit"] {
    width: 2.5rem;
    padding: 0 .75rem;
    margin-inline-start: -.25rem;
    border-left: none;
    color: rgb(0 90 156);
  }
}

#ecbf-combobox-search-results-groups-wrapper {
  width: var(--input-width);
  display: grid;
  grid-template-areas: "products pages"
                        "search search";
  gap: 1rem;
  grid-template-columns: 50% 50%;

  @media (max-width: 40em) {
    width: auto;
    grid-template-columns: 100%;
    grid-template-areas: "products"
                         "pages"
                         "search";
  }
}

.ecbf-combobox-search-results-group-section--products {
  grid-area: products;
}

.ecbf-combobox-search-results-group-section--pages {
  grid-area: pages;
}

.ecbf-combobox-search-results-search {
  grid-area: search;
  border: none;

  &[aria-selected="true"] {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: bold;
  }


  .icon {
    width: 1em;
  }
}

.ecbf-combobox-search-results-group-section:has(ul:empty) {
  display: none;
}

.combobox-list {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1em;
  z-index: 300;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.5) 0 4px 6px -1px, rgba(0, 0, 0, 0.33) 0 2px 4px -2px;

  [role="group"] {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    max-height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 87.5%;
    cursor: pointer;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: var(--brand-blue) var(--brand-white);
    padding-inline-end: 1rem;

    &:empty {
      border: none;
    }
  }

  li[role="option"] {
    margin: 0;
    display: block;
    padding-inline-start:6px;
    padding-top: 8px;
    padding-block-end: 8px;

    &[aria-selected="true"] {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      font-weight: bold;
    }
  }

  @media (max-width: 40em) {
    top: 3rem;
  }

  &.focus [role="option"][aria-selected="true"],
  [role="option"]:hover {
    text-decoration: underline;
  }

  h3 {
    margin-block-start: 0;
  }

  [role="group"] {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    max-height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 87.5%;
    cursor: pointer;

    @media (max-width: 40em) {
      overflow: auto;
      max-height: max-content;
    }


    &:empty {
      border: none;
    }

  }

  h2:first-of-type {
    margin-block-start: 0;
  }

  & li[role="option"] {
    margin: 0;
    padding-inline-start: 6px;
    padding-top: 8px;
    padding-block-end: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 3.125rem;
      margin-inline-end: .5rem;
    }

    a {
      flex: 1;
      font-weight: bold;
    }
  }
}
